<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <title>Space44 Email-Test</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet"
        type="text/css">
  <link href="assets/css/quasar.prod.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    [v-cloak] {
      display: none
    }
  </style>
</head>
<body>

<div id="q-app" v-cloak>
  <div
    class='row items-center bg-blue-10'
    :class='$q.screen.gt.sm ? "q-px-xl": "q-px-md"'
    style='min-height: 65px'
  >
    <img src="images/logos/logo_white_large.png" style="width: 200px" />
    <q-space></q-space>
    <q-item>
      <q-item-section class='text-right text-white' v-if="$q.screen.gt.sm">
        <q-item-label class='text-bold text-body2'>My Space44 Email-Test</q-item-label>
        <q-item-label class='text-grey-5' lines='1'>myspace44@toinfinity.com</q-item-label>
      </q-item-section>
      <q-item-section avatar>
        <q-avatar color='blue' text-color='white'>SP</q-avatar>
      </q-item-section>
    </q-item>
  </div>

  <div
    class='row items-center bg-grey-3'
    :class='$q.screen.gt.sm ? "q-px-xl": "q-px-md"'
    style='min-height: 200px'
  >
  </div>
  <div class='row justify-center q-mb-xl'>
    <div class='q-pa-lg col-11 col-md-10 bg-white rounded-borders shadow-20' style='margin-top: -150px'>
      <q-toolbar class="q-px-none items-center">
        <q-btn
          color="blue-10" text-color="white" icon="add"
          :label="$q.screen.gt.sm ? 'New message': ''" no-caps
          class="q-px-lg q-py-sm" @click="dialogCreateEmail = true"
        ></q-btn>
        <q-space></q-space>
        <q-item-label class="text-body2">
          <q-chip square class="q-pa-md"> Email count &ensp; <strong>{{emails.length}}</strong></q-chip>
        </q-item-label>
      </q-toolbar>

      {{#if error}}
        <div class="row bg-red q-mt-md">
          <q-item>
            <q-item-section class="text-white text-bold">
              Sorry, the email could not be sent.
            </q-item-section>
          </q-item>
        </div>
      {{/if}}

      {{#if success}}
        <div class="row bg-green q-mt-md">
          <q-item>
            <q-item-section class="text-white text-bold">
              Congratulations, the email was sent successfully
            </q-item-section>
          </q-item>
        </div>
      {{/if}}

      <div class="row q-pt-lg">
        <div class="col-12">
          <q-tabs
            v-model="tab"
            inline-label
            active-color="blue-10"
            indicator-color="blue-10"
            active-bg-color='grey-3'
            align="start"
          >
            <q-tab name="emailTab" label="Principal" icon="inbox" no-caps class="q-px-xl" />
          </q-tabs>
          <q-separator></q-separator>
          <q-tab-panels v-model="tab" animated>
            <q-tab-panel class="q-px-none q-pt-md" name="emailTab">
              <q-list>

                {{#each emails}}
                  <q-item
                    class="q-pa-md rounded-borders"
                  >
                    <q-item-section avatar top>
                      <q-avatar color="primary" text-color="white" rounded icon="email"></q-avatar>
                    </q-item-section>
                    <q-item-section>
                      <q-item-label>
                        <span class="text-bold">{{subject}}</span> &ensp;( {{to}} )
                      </q-item-label>
                      <q-item-label caption>
                        {{content}}
                      </q-item-label>
                      <q-item-label caption>
                        {{idConfirmation}}
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                {{/each}}

                {{#unless emails}}
                  <q-item>
                    <q-item-section top avatar>
                      <q-avatar color="primary" rounded text-color="white" icon="info" />
                    </q-item-section>

                    <q-item-section>
                      <q-item-label class="text-bold">
                        The mailbox is empty
                      </q-item-label>
                      <q-item-label caption lines="2">
                        Write your first email to contact a friend
                      </q-item-label>
                    </q-item-section>
                  </q-item>
                {{/unless}}

              </q-list>
            </q-tab-panel>
          </q-tab-panels>
        </div>
      </div>
    </div>
  </div>

  <q-dialog
    position="bottom"
    v-model="dialogCreateEmail"
  >
    <q-card style="width: 550px; max-width: 80vw;">
      <q-toolbar class="bg-blue-10 text-white q-px-lg q-py-md">
        <q-toolbar-title>
          New message
        </q-toolbar-title>
        <q-btn flat round dense>
          <q-icon name="close" v-close-popup></q-icon>
        </q-btn>
      </q-toolbar>
      <q-form action="/send-email" method="post">
        <div class="q-px-lg q-pt-lg q-pb-sm">
          <q-input
            type="email"
            name="to"
            outlined
            placeholder="To"
            clearable
            v-model="to"
            :rules="[val => !!val]"
          >
            <template v-slot:prepend>
              <q-icon name="person" />
            </template>
          </q-input>
          <q-input
            name="subject"
            outlined
            placeholder="Subject"
            clearable
            v-model="subject"
            :rules="[val => !!val]"
          >
            <template v-slot:prepend>
              <q-icon name="horizontal_split"></q-icon>
            </template>
          </q-input>
          <q-input
            name="content"
            type="textarea"
            rows="8"
            outlined
            placeholder="Content"
            clearable
            v-model="content"
          >
            <template v-slot:prepend>
              <q-icon name="subject" />
            </template>
          </q-input>
        </div>
        <div class="row q-px-lg q-pb-lg justify-end">
          <q-btn
            color="white"
            label="Close" no-caps
            class="q-px-lg q-py-sm q-mr-sm"
            text-color="dark"
            v-close-popup></q-btn>
          <q-btn
            @click="btnLoading = true"
            :loading="btnLoading"
            type="submit"
            color="blue-10" label="Enviar"
            icon="send" no-caps
            class="q-px-lg q-py-sm"
          ></q-btn>
        </div>
      </q-form>
    </q-card>
  </q-dialog>

</div>

<script src="assets/js/vue.global.prod.js"></script>
<script src="assets/js/quasar.umd.prod.js"></script>

<script type="text/javascript">
  const { useQuasar } = Quasar;

  const app = Vue.createApp({
    setup() {

      const $q = useQuasar();

      function notify() {
        $q.notify("Running on Quasar v" + $q.version);
      }

      const dialogCreateEmail = Vue.ref(false);

      const to = Vue.ref("");
      const btnLoading = Vue.ref(false);
      const subject = Vue.ref("");
      const content = Vue.ref("");
      const tab = "emailTab";

      return {
        tab,
        to,
        btnLoading,
        subject,
        content,
        dialogCreateEmail
      };
    }
  });

  app.use(Quasar);
  app.mount("#q-app");

</script>
</body>
</html>
